{# @var footer \Infostrates\ValrhonaCorporateMenu\Domains\Menu\Model\Footer #}
<div class="small-10 large-2 cell">
    <p>{{ footer.additionalWordings.footerLogoIntroMessage }}</p>
    <span id="logo-footer">
        <img src="{{ footer.mainLogo.url }}" alt="{{ footer.mainLogo.alt }}" />
    </span>
</div>
<div class="small-11 large-3 cell">
    <p>{{ footer.additionalWordings.languageSelectorLocationDropdownIntroMessage }}</p>
    <div class="hide-for-large text-center" data-toggle="localization-selector localizationToggle menuToggle.cross main-menu.open">
        {% if footer.zoneList is not empty %}<span data-toggle="country-dropdown"><img src="{{ footer.additionalAssets.poi }}" alt="" /><span>{{ footer.currentCountryAccess.label }}</span></span>{% endif %}
        {% if footer.languageAccessList|length > 1 %}<span data-toggle="language-dropdown"><span>{{ footer.currentLanguageAccess.label }}</span></span>{% endif %}
    </div>
    <div id="localization-selector" data-toggler=".open">
        <img data-toggle="localization-selector" class="hide-for-large" src="{{ footer.additionalAssets.closeModal }}" alt="">
        {% if footer.zoneList is not empty %}
            <span data-toggle="country-dropdown"><img src="{{ footer.additionalAssets.poi }}" alt="" /><span>{{ footer.currentCountryAccess.label }}</span></span>
            <div class="dropdown-pane top" id="country-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-v-offset="20">
                <p>{{ footer.additionalWordings.countrySelectorCountryDropDownIntroMessage }}</p>
                <div class="grid-x grid-margin-x">
                    {% for zone in footer.zoneList %}
                        {% if (loop.index+2) is divisible by(3) %}<div class="cell {% if loop.first %}large-shrink{% else %} large-auto{% endif %}">{% endif %}
                        <p>{{ zone.label }}</p>
                        {% if zone.countryAccessList is not empty %}
                            <ul class="no-bullet{% if zone.countryAccessList|length > 3 %} grid-x small-up-2{% endif %}">
                                {% for countryAccess in zone.countryAccessList %}
                                    <li class="cell">
                                        <a href="{{ countryAccess.languageAccessList[0].url }}">{{ countryAccess.label }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if loop.index is divisible by(3) or loop.last %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if footer.languageAccessList|length > 1 %}
            <span data-toggle="language-dropdown"><span>{{ footer.currentLanguageAccess.label }}</span></span>
            <div class="dropdown-pane top" id="language-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-v-offset="20">
                <p>{{ footer.additionalWordings.languageSelectorLanguageDropdownIntroMessage }}</p>
                <div class="grid-x">
                    <div class="cell">
                        <ul class="no-bullet{% if footer.languageAccessList|length > 3 %} grid-x small-up-2{% endif %}">
                            {% for languageAccess in footer.languageAccessList %}
                                <li class="cell">
                                    <a href="{{ languageAccess.url }}">{{ languageAccess.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="small-10 large-2 cell">
    {% if footer.menuItemContainer1 and footer.menuItemContainer1.menuItemList is not empty %}
        <div class="links">
            <p>{{ footer.menuItemContainer1.title }}</p>
            <ul class="menu">
                {% for menuItem in footer.menuItemContainer1.menuItemList %}
                    <li class="cell"><a href="{{ menuItem.link.url }}"{% if menuItem.link.target %} target="{{ menuItem.link.target }}"{% endif %}>{{ menuItem.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<div class="small-10 large-2 cell">
    {% if footer.menuItemContainer2 and footer.menuItemContainer2.menuItemList is not empty %}
        <div class="links">
            <p>{{ footer.menuItemContainer2.title }}</p>
            <ul class="menu vertical">
                {% for menuItem in footer.menuItemContainer2.menuItemList %}
                    <li class="cell"><a href="{{ menuItem.link.url }}"{% if menuItem.link.target %} target="{{ menuItem.link.target }}"{% endif %}>{{ menuItem.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<div class="small-10 large-3 cell">
    {% if footer.buttonsContainer and footer.buttonsContainer.buttonList is not empty %}
        <div class="icon-links">
            <p>{{ footer.buttonsContainer.title }}</p>
            <ul class="menu simple expanded">
                {% for button in footer.buttonsContainer.buttonList %}
                    <li class="cell">
                        <a href="{{ button.link.url }}"{% if button.link.target %} target="{{ button.link.target }}"{% endif %}>
                            <img src="{{ button.icon.url }}" alt="{{ button.tooltip }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if not footer.bCorpIcon.url %}
        <span class="bcorp">
            <img src="{{ footer.bCorpIcon.icon.url }}" alt="{{ footer.bCorpIcon.icon.alt }}">
        </span>
    {% else %}
        <a class="bcorp" href="{{ footer.bCorpIcon.url }}" target="_blank">
            <img src="{{ footer.bCorpIcon.icon.url }}" alt="{{ footer.bCorpIcon.icon.alt }}">
        </a>
    {% endif %}
</div>
<div class="small-10 cell">
    {% if footer.menuItemContainer3 and footer.menuItemContainer3.menuItemList is not empty %}
        <div class="subfooter">
            <ul class="menu simple align-center tiny">
                {% for menuItem in footer.menuItemContainer3.menuItemList %}
                    <li><a href="{{ menuItem.link.url }}"{% if menuItem.link.target %} target="{{ menuItem.link.target }}"{% endif %}>{{ menuItem.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
