{# @var header \Infostrates\ValrhonaCorporateMenu\Domains\Menu\Model\Header #}
<header>
    {% if header.eventBannerList is not empty %}
        <div id="event-banner" data-toggler=".hidden-up">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="small-1 hide-for-large cell">
                        <button class="close" data-toggle="event-banner">
                            <img src="{{ header.additionalAssets.close }}" alt="">
                        </button>
                    </div>
                    <div class="small-11 large-12 cell">
                        {% for eventBanner in header.eventBannerList %}
                            <a href="{{ eventBanner.url }}" target="_blank">{{ eventBanner.title }}<img src="{{ header.additionalAssets.arrowRight }}" alt="" /></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="grid-container">
        <div class="newMenu24">

            <div class="newMenu24__menuToggle">
                <button id="menuToggle" class="hide-for-large" data-toggle="main-menu menuToggle localizationToggle.cross localization-selector.open" data-toggler=".cross">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="16px" viewBox="0 0 20 16" version="1.1">
                        <polygon points="0 0 20 0.000282885431 20 2 0 1.99971711"></polygon>
                        <polygon points="0 14 20 14.0002829 20 16 0 15.9997171"></polygon>
                    </svg>
                </button>
            </div>

            <div class="newMenu24__logo">
                <a href="{{ header.mainLogo.url }}" id="logo">
                    <span class="sr-only">Valrhona - Imaginons le meilleur du chocolat</span>
                    <span aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="200px" height="84px" viewBox="0 0 200 84"
                             version="1.1">
                            <g id="Valrhona" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="logo-sigle" fill="#B9924B">
                                    <g transform="translate(72.955975, 0.050457)">
                                        <path
                                            d="M17.4418239,27.0690619 C12.959434,27.9536127 11.9990566,30.7542751 11.5286164,31.8805201 C11.9669811,32.0412342 15.3487421,33.0528614 20.2374214,29.8205133 C23.577673,27.6122509 26.3984277,27.6670681 26.3984277,27.6670681 C26.3984277,27.6670681 14.9191824,18.8259202 0.189622642,24.2297783 C0.189622642,24.2297783 0.858805031,28.5348 8.22798742,28.2501241 C12.1261006,28.0987538 14.1487421,26.6274094 17.4418239,27.0690619"
                                            id="Fill-16"/>
                                        <path
                                            d="M38.3676101,27.0690619 C42.85,27.9536127 43.8103774,30.7542751 44.2808176,31.8805201 C43.8424528,32.0412342 40.4606918,33.0528614 35.5720126,29.8205133 C32.231761,27.6122509 29.4110063,27.6670681 29.4110063,27.6670681 C29.4110063,27.6670681 40.8902516,18.8259202 55.6204403,24.2297783 C55.6204403,24.2297783 54.9506289,28.5348 47.5814465,28.2501241 C43.6839623,28.0987538 41.6606918,26.6274094 38.3676101,27.0690619"
                                            id="Fill-18"/>
                                        <path
                                            d="M27.9049057,25.59697 C36.647673,17.7624659 48.1319497,19.0207706 48.1319497,19.0207706 C44.7401258,13.8579838 39.2143396,16.0556565 39.2143396,16.0556565 C41.7514465,11.4703195 36.0898113,8.21616908 36.0898113,8.21616908 C35.5457862,18.2091018 31.4684277,19.7751305 27.9049057,21.7715991 C24.3413836,19.7751305 20.2633962,18.2091018 19.72,8.21616908 C19.72,8.21616908 14.0577358,11.4703195 16.5948428,16.0556565 C16.5948428,16.0556565 11.0696855,13.8579838 7.6772327,19.0207706 C7.6772327,19.0207706 19.1615094,17.7624659 27.9049057,25.59697"
                                            id="Fill-20"/>
                                        <path
                                            d="M27.9049057,18.8798654 C30.238239,17.2590194 31.8596226,13.7712729 31.8596226,9.72850183 C31.8596226,5.68199324 30.2401258,2.191755 27.9049057,0.572154886 C25.5690566,2.191755 23.9501887,5.68199324 23.9501887,9.72850183 C23.9501887,13.7712729 25.5715723,17.2590194 27.9049057,18.8798654"
                                            id="Fill-22"/>
                                    </g>
                                </g>
                                <g id="logo-titre" transform="translate(0.000000, 40.119403)" fill="#FFFFFF">
                                    <path class="logo-letter"
                                          d="M28.5937107,18.0311326 L33.8798742,5.74210532 L38.9811321,18.0311326 L28.5937107,18.0311326 Z M33.9805031,0.0379983103 L21.2138365,28.1928775 L24.2220126,28.1928775 L27.7062893,20.094254 L39.8371069,20.094254 L43.1987421,28.1928775 L46.9396226,28.1928775 L34.5591195,-2.6724891e-14 L33.9805031,0.0379983103 Z"
                                          id="Fill-1"/>
                                    <polygon class="logo-letter" id="Fill-2"
                                             points="53.9981761 0.763890622 50.9510063 0.763890622 50.9510063 28.1930644 65.0679874 28.1930644 65.9164151 25.4808571 53.9981761 26.1666955"/>
                                    <polygon class="logo-letter" id="Fill-3"
                                             points="22.718239 0.764077499 13.0603774 22.8579147 3.74150943 0.764077499 -1.79884237e-14 0.764077499 12.3811321 28.5751031 12.9597484 28.5371048 25.7264151 0.764077499"/>
                                    <polygon class="logo-letter" id="Fill-10"
                                             points="168.088302 22.6306724 151.232956 0.840821628 151.232956 0.802200394 149.304654 0.802200394 149.304654 28.1933758 151.811572 28.1933758 151.811572 6.47516125 168.821006 28.2693725 170.59522 28.2693725 170.59522 0.802200394 168.088302 0.802200394"/>
                                    <polygon class="logo-letter" id="Fill-12"
                                             points="110.426289 12.9887569 96.1168553 12.9887569 96.1168553 0.763890622 92.9155975 0.763890622 92.9155975 28.1930644 96.1168553 28.1930644 96.1168553 15.2424927 110.426289 15.2424927 110.426289 28.1930644 113.704277 28.1930644 113.704277 0.763890622 110.426289 0.763890622"/>
                                    <path class="logo-letter"
                                          d="M131.832642,26.5884144 C124.774151,26.5884144 121.495535,19.8652052 121.495535,14.1349354 C121.495535,7.90819589 124.735786,2.52115674 131.176667,2.52115674 C138.235157,2.52115674 141.513774,9.2449889 141.513774,14.9746358 C141.513774,21.2026211 138.273522,26.5884144 131.832642,26.5884144 M131.716918,0.229422585 C124.079811,-0.000436046184 118.41,6.60940118 118.41,14.5167873 C118.41,23.0358839 123.231384,28.8807715 131.29239,28.8807715 C138.929497,29.1100072 144.599308,22.5007929 144.599308,14.5927839 C144.599308,6.0736873 139.777925,0.229422585 131.716918,0.229422585"
                                          id="Fill-4"/>
                                    <path class="logo-letter"
                                          d="M181.185283,18.0311326 L186.54,5.3857933 L191.706667,18.0311326 L181.185283,18.0311326 Z M195.858868,28.1928775 L199.599748,28.1928775 L187.219245,8.90829699e-15 L186.640629,0.0379983103 L173.873962,28.1928775 L176.882138,28.1928775 L180.311698,20.094254 L192.549434,20.094254 L195.858868,28.1928775 Z"
                                          id="Fill-6"/>
                                    <path class="logo-letter"
                                          d="M72.5503774,14.8222688 L72.5503774,2.59802546 L75.7516352,2.59802546 C78.798805,2.59802546 83.3887421,3.47634706 83.3887421,9.01600237 C83.3887421,13.1416222 79.9944025,14.8222688 75.7516352,14.8222688 L72.5503774,14.8222688 Z M86.5516352,8.48091141 C86.5516352,2.29217021 81.6145283,0.764139792 76.6384277,0.764139792 L69.4648428,0.764139792 L69.4648428,28.1933135 L72.5503774,28.1933135 L72.5503774,16.8467689 L77.4579245,16.8467689 L85.2396855,28.1933135 L89.1359119,28.1933135 L80.1006918,16.2985966 C83.6761635,15.1349762 86.5516352,12.8500942 86.5516352,8.48091141 L86.5516352,8.48091141 Z"
                                          id="Fill-8"/>
                                </g>
                            </g>
                        </svg>
                    </span>
                </a>
            </div>

            <div class="text-right newMenu24__userMenu">
                {% if header.search %}
                    <span id="header-link0">
                    <button data-open="search-modal" title="{{ header.search.tooltip }}" data-tooltip tabindex="1" data-position="bottom" data-alignment="center">
                        <svg width="14px" height="14px" viewBox="0 0 15 14">
                            <path fill="#000000" d="M14.8815789,12.7866667 L11.7236842,9.67555556 C11.6213923,9.57240254 11.5074993,9.48107234 11.3842105,9.40333333 L10.5947368,8.86666667 L10.5947368,8.86666667 C12.2186242,6.88711393 12.2337049,4.06331217 10.6310507,2.06703468 C9.02839647,0.0707571981 6.23573124,-0.565220145 3.90639454,0.535619859 C1.57705784,1.63645986 0.332713945,4.18031989 0.910050859,6.66116033 C1.48738777,9.14200078 3.73232312,10.8977233 6.31578947,10.8888889 C7.56951044,10.8892483 8.78609611,10.4696144 9.76578947,9.69888889 L9.76578947,9.69888889 L10.3578947,10.4766667 C10.4281262,10.5768332 10.5073955,10.6705471 10.5947368,10.7566667 L13.7526316,13.8677778 C13.82675,13.9413994 13.9276431,13.9828105 14.0328947,13.9828105 C14.1381464,13.9828105 14.2390395,13.9413994 14.3131579,13.8677778 L14.8657895,13.3233333 C15.0156562,13.1772929 15.0226079,12.9410139 14.8815789,12.7866667 Z M6.31578947,9.33333333 C4.13571809,9.33333333 2.36842105,7.59221847 2.36842105,5.44444444 C2.36842105,3.29667042 4.13571809,1.55555556 6.31578947,1.55555556 C8.49586085,1.55555556 10.2631579,3.29667042 10.2631579,5.44444444 C10.2631579,6.4758419 9.84727563,7.46499601 9.10700045,8.19430415 C8.36672527,8.92361229 7.36269667,9.33333333 6.31578947,9.33333333 Z" />
                        </svg>
                    </button>
                    <div class="full reveal" id="search-modal" data-reveal>
                        <div class="grid-container">
                            <div class="text-right">
                                <button data-close aria-label="Close" tabindex="0">
                                    <img src="{{ header.additionalAssets.closeModal }}" alt="Close">
                                </button>
                            </div>
                            <div class="grid-x grid-margin-x align-center">
                                <div class="large-6 cell">
                                    <div class="search_wrapper">
                                        <form method="get" action="{{ header.search.actionUrl }}">
                                            <label for="searchInput">{{ header.search.inputPlaceholder }}</label>
                                            <div class="position-relative">
                                                <input type="text" name="{{ header.search.paramName }}" value="" placeholder="{{ header.search.inputPlaceholder }}" />
                                            <button type="submit"><img src="{{ header.search.icon.url }}" alt="{{ header.search.icon.alt }}"></button>
                                            </div>
                                        </form>
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
                {% endif %}

                {% if options['target_language'] == 'fr' or options['target_language'] == 'it' or options['target_language'] == 'es' or options['target_language'] == 'de' %}
                    <span id="header-link1">
                        {% if options['target_language'] == 'fr' %}
                            <button data-open="marketplace-modal" data-tooltip tabindex="1" title="Commandez en ligne" data-position="bottom" data-alignment="center">
                                <svg width="14px" height="14px" viewBox="0 0 14 14">
                                    <path stroke-width="0" d="M13.415972,3.46895558 C13.4218175,2.84998325 12.9266172,2.34252566 12.307696,2.33324741 L11.2291685,2.33324741 C11.1903922,2.33340252 11.1531508,2.31810704 11.1256769,2.29074217 C11.0982029,2.26337729 11.0827591,2.2261967 11.0827594,2.18741944 L11.0827594,1.74993555 C11.0827594,0.783472835 10.2992983,0 9.33285006,0 L7.58294067,0 C6.61649241,0 5.83303129,0.783472835 5.83303129,1.74993555 L5.83303129,2.18741944 C5.83303129,2.267958 5.76774286,2.33324741 5.68720551,2.33324741 L4.52059925,2.33324741 C4.44006189,2.33324741 4.37477347,2.267958 4.37477347,2.18741944 L4.37477347,1.74993555 C4.37477347,1.42778131 4.63592717,1.1666237 4.95807659,1.1666237 C5.28022602,1.1666237 5.54137972,0.905466092 5.54137972,0.583311852 C5.54137972,0.261157612 5.28022602,0 4.95807659,0 C3.99162833,0 3.20816721,0.783472835 3.20816721,1.74993555 L3.20816721,2.18741944 C3.20816721,2.267958 3.14287878,2.33324741 3.06234143,2.33324741 L2.04156095,2.33324741 C1.41330902,2.3109653 0.880381294,2.79050425 0.836456687,3.41762414 L0,12.8637763 C0.0212520184,13.5106404 0.56167919,14.0184722 1.20860408,13.9994844 L12.8909991,13.9994844 C13.1942101,13.9932722 13.4822531,13.8656717 13.6905852,13.6452751 C13.8989172,13.4248784 14.0101197,13.1301128 13.9992751,12.8270276 L13.415972,3.46895558 Z M6.99963754,1.74993555 C6.99963754,1.42778131 7.26079125,1.1666237 7.58294067,1.1666237 L9.33285006,1.1666237 C9.65499948,1.1666237 9.91615319,1.42778131 9.91615319,1.74993555 L9.91615319,2.18741944 C9.91615319,2.267958 9.85086476,2.33324741 9.77032741,2.33324741 L7.14546333,2.33324741 C7.06492597,2.33324741 6.99963754,2.267958 6.99963754,2.18741944 L6.99963754,1.74993555 Z M1.49267271,12.8182779 C1.41032891,12.8186426 1.33166809,12.7841807 1.27611141,12.7234008 C1.22055472,12.6626209 1.19327994,12.5811875 1.20102114,12.4992064 L2.01764552,3.76469469 C2.03151044,3.61462595 2.15742484,3.49987074 2.30813048,3.49987074 L3.83930119,3.49987074 C3.99420741,3.49962803 4.12227819,3.62052866 4.13095276,3.7751943 L4.61684426,12.5213722 C4.62133924,12.6015131 4.5926078,12.6799641 4.53741778,12.7382456 C4.48222775,12.7965271 4.40545826,12.8294868 4.3251927,12.8293612 L1.49267271,12.8182779 Z"></path>
                                </svg>
                            </button>
                            <div class="reveal" id="marketplace-modal" data-reveal>
                                <button class="close-button" data-close aria-label="Close modal" type="button">
                                    <span aria-hidden="true">
                                        <img src="{{ header.additionalAssets.closeModal }}" alt="" />
                                    </span>
                                  </button>
                                <div class="text-center">
                                    <h3 class="dash">Vous n'êtes qu'à quelques clics de vos produits préférés</h3>
                                    <h4>Commandez nos produits en ligne</h4>
                                    <p>Professionnels, retrouvez plus de 2000 produits dédiés à votre activité sur <a
                                            href="https://www.valrhona-selection.fr" target="_blank">valrhona-selection.fr</a> <br>
                                        Particuliers, découvrez notre gamme de chocolats et ingrédients pour pâtisser à la maison sur <a
                                            href="https://www.valrhona-ensemble.fr" target="_blank">valrhona-ensemble.fr</a></p>
                                    <div class="grid-x grid-margin-x">
                                       <div class="small-12 large-6 cell">
                                            <a data-close class="button" href="https://www.valrhona-selection.fr" target="_blank">
                                                <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-width="0" d="M13.415972,3.46895558 C13.4218175,2.84998325 12.9266172,2.34252566 12.307696,2.33324741 L11.2291685,2.33324741 C11.1903922,2.33340252 11.1531508,2.31810704 11.1256769,2.29074217 C11.0982029,2.26337729 11.0827591,2.2261967 11.0827594,2.18741944 L11.0827594,1.74993555 C11.0827594,0.783472835 10.2992983,0 9.33285006,0 L7.58294067,0 C6.61649241,0 5.83303129,0.783472835 5.83303129,1.74993555 L5.83303129,2.18741944 C5.83303129,2.267958 5.76774286,2.33324741 5.68720551,2.33324741 L4.52059925,2.33324741 C4.44006189,2.33324741 4.37477347,2.267958 4.37477347,2.18741944 L4.37477347,1.74993555 C4.37477347,1.42778131 4.63592717,1.1666237 4.95807659,1.1666237 C5.28022602,1.1666237 5.54137972,0.905466092 5.54137972,0.583311852 C5.54137972,0.261157612 5.28022602,0 4.95807659,0 C3.99162833,0 3.20816721,0.783472835 3.20816721,1.74993555 L3.20816721,2.18741944 C3.20816721,2.267958 3.14287878,2.33324741 3.06234143,2.33324741 L2.04156095,2.33324741 C1.41330902,2.3109653 0.880381294,2.79050425 0.836456687,3.41762414 L0,12.8637763 C0.0212520184,13.5106404 0.56167919,14.0184722 1.20860408,13.9994844 L12.8909991,13.9994844 C13.1942101,13.9932722 13.4822531,13.8656717 13.6905852,13.6452751 C13.8989172,13.4248784 14.0101197,13.1301128 13.9992751,12.8270276 L13.415972,3.46895558 Z M6.99963754,1.74993555 C6.99963754,1.42778131 7.26079125,1.1666237 7.58294067,1.1666237 L9.33285006,1.1666237 C9.65499948,1.1666237 9.91615319,1.42778131 9.91615319,1.74993555 L9.91615319,2.18741944 C9.91615319,2.267958 9.85086476,2.33324741 9.77032741,2.33324741 L7.14546333,2.33324741 C7.06492597,2.33324741 6.99963754,2.267958 6.99963754,2.18741944 L6.99963754,1.74993555 Z M1.49267271,12.8182779 C1.41032891,12.8186426 1.33166809,12.7841807 1.27611141,12.7234008 C1.22055472,12.6626209 1.19327994,12.5811875 1.20102114,12.4992064 L2.01764552,3.76469469 C2.03151044,3.61462595 2.15742484,3.49987074 2.30813048,3.49987074 L3.83930119,3.49987074 C3.99420741,3.49962803 4.12227819,3.62052866 4.13095276,3.7751943 L4.61684426,12.5213722 C4.62133924,12.6015131 4.5926078,12.6799641 4.53741778,12.7382456 C4.48222775,12.7965271 4.40545826,12.8294868 4.3251927,12.8293612 L1.49267271,12.8182779 Z"></path>
                                                </svg>
                                                <span>E-Shop PROFESSIONNELS</span>
                                            </a>
                                        </div>
                                        <div class="small-12 large-6 cell">
                                            <a data-close class="button" href="https://www.valrhona-ensemble.fr" target="_blank">
                                                <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-width="0" d="M13.415972,3.46895558 C13.4218175,2.84998325 12.9266172,2.34252566 12.307696,2.33324741 L11.2291685,2.33324741 C11.1903922,2.33340252 11.1531508,2.31810704 11.1256769,2.29074217 C11.0982029,2.26337729 11.0827591,2.2261967 11.0827594,2.18741944 L11.0827594,1.74993555 C11.0827594,0.783472835 10.2992983,0 9.33285006,0 L7.58294067,0 C6.61649241,0 5.83303129,0.783472835 5.83303129,1.74993555 L5.83303129,2.18741944 C5.83303129,2.267958 5.76774286,2.33324741 5.68720551,2.33324741 L4.52059925,2.33324741 C4.44006189,2.33324741 4.37477347,2.267958 4.37477347,2.18741944 L4.37477347,1.74993555 C4.37477347,1.42778131 4.63592717,1.1666237 4.95807659,1.1666237 C5.28022602,1.1666237 5.54137972,0.905466092 5.54137972,0.583311852 C5.54137972,0.261157612 5.28022602,0 4.95807659,0 C3.99162833,0 3.20816721,0.783472835 3.20816721,1.74993555 L3.20816721,2.18741944 C3.20816721,2.267958 3.14287878,2.33324741 3.06234143,2.33324741 L2.04156095,2.33324741 C1.41330902,2.3109653 0.880381294,2.79050425 0.836456687,3.41762414 L0,12.8637763 C0.0212520184,13.5106404 0.56167919,14.0184722 1.20860408,13.9994844 L12.8909991,13.9994844 C13.1942101,13.9932722 13.4822531,13.8656717 13.6905852,13.6452751 C13.8989172,13.4248784 14.0101197,13.1301128 13.9992751,12.8270276 L13.415972,3.46895558 Z M6.99963754,1.74993555 C6.99963754,1.42778131 7.26079125,1.1666237 7.58294067,1.1666237 L9.33285006,1.1666237 C9.65499948,1.1666237 9.91615319,1.42778131 9.91615319,1.74993555 L9.91615319,2.18741944 C9.91615319,2.267958 9.85086476,2.33324741 9.77032741,2.33324741 L7.14546333,2.33324741 C7.06492597,2.33324741 6.99963754,2.267958 6.99963754,2.18741944 L6.99963754,1.74993555 Z M1.49267271,12.8182779 C1.41032891,12.8186426 1.33166809,12.7841807 1.27611141,12.7234008 C1.22055472,12.6626209 1.19327994,12.5811875 1.20102114,12.4992064 L2.01764552,3.76469469 C2.03151044,3.61462595 2.15742484,3.49987074 2.30813048,3.49987074 L3.83930119,3.49987074 C3.99420741,3.49962803 4.12227819,3.62052866 4.13095276,3.7751943 L4.61684426,12.5213722 C4.62133924,12.6015131 4.5926078,12.6799641 4.53741778,12.7382456 C4.48222775,12.7965271 4.40545826,12.8294868 4.3251927,12.8293612 L1.49267271,12.8182779 Z"></path>
                                                </svg>
                                                <span>E-Shop PARTICULIERS</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif options['target_language'] == 'it' %}
                            <button data-open="marketplace-modal" data-tooltip tabindex="1" title="Ordinate i nostri prodotti online" data-position="bottom" data-alignment="center">
                                <svg width="14px" height="14px" viewBox="0 0 14 14">
                                    <path stroke-width="0" d="M13.415972,3.46895558 C13.4218175,2.84998325 12.9266172,2.34252566 12.307696,2.33324741 L11.2291685,2.33324741 C11.1903922,2.33340252 11.1531508,2.31810704 11.1256769,2.29074217 C11.0982029,2.26337729 11.0827591,2.2261967 11.0827594,2.18741944 L11.0827594,1.74993555 C11.0827594,0.783472835 10.2992983,0 9.33285006,0 L7.58294067,0 C6.61649241,0 5.83303129,0.783472835 5.83303129,1.74993555 L5.83303129,2.18741944 C5.83303129,2.267958 5.76774286,2.33324741 5.68720551,2.33324741 L4.52059925,2.33324741 C4.44006189,2.33324741 4.37477347,2.267958 4.37477347,2.18741944 L4.37477347,1.74993555 C4.37477347,1.42778131 4.63592717,1.1666237 4.95807659,1.1666237 C5.28022602,1.1666237 5.54137972,0.905466092 5.54137972,0.583311852 C5.54137972,0.261157612 5.28022602,0 4.95807659,0 C3.99162833,0 3.20816721,0.783472835 3.20816721,1.74993555 L3.20816721,2.18741944 C3.20816721,2.267958 3.14287878,2.33324741 3.06234143,2.33324741 L2.04156095,2.33324741 C1.41330902,2.3109653 0.880381294,2.79050425 0.836456687,3.41762414 L0,12.8637763 C0.0212520184,13.5106404 0.56167919,14.0184722 1.20860408,13.9994844 L12.8909991,13.9994844 C13.1942101,13.9932722 13.4822531,13.8656717 13.6905852,13.6452751 C13.8989172,13.4248784 14.0101197,13.1301128 13.9992751,12.8270276 L13.415972,3.46895558 Z M6.99963754,1.74993555 C6.99963754,1.42778131 7.26079125,1.1666237 7.58294067,1.1666237 L9.33285006,1.1666237 C9.65499948,1.1666237 9.91615319,1.42778131 9.91615319,1.74993555 L9.91615319,2.18741944 C9.91615319,2.267958 9.85086476,2.33324741 9.77032741,2.33324741 L7.14546333,2.33324741 C7.06492597,2.33324741 6.99963754,2.267958 6.99963754,2.18741944 L6.99963754,1.74993555 Z M1.49267271,12.8182779 C1.41032891,12.8186426 1.33166809,12.7841807 1.27611141,12.7234008 C1.22055472,12.6626209 1.19327994,12.5811875 1.20102114,12.4992064 L2.01764552,3.76469469 C2.03151044,3.61462595 2.15742484,3.49987074 2.30813048,3.49987074 L3.83930119,3.49987074 C3.99420741,3.49962803 4.12227819,3.62052866 4.13095276,3.7751943 L4.61684426,12.5213722 C4.62133924,12.6015131 4.5926078,12.6799641 4.53741778,12.7382456 C4.48222775,12.7965271 4.40545826,12.8294868 4.3251927,12.8293612 L1.49267271,12.8182779 Z"></path>
                                </svg>
                            </button>
                            <div class="reveal" id="marketplace-modal" data-reveal>
                                <button class="close-button" data-close aria-label="Close modal" type="button">
                                    <span aria-hidden="true">
                                        <img src="{{ header.additionalAssets.closeModal }}" alt="" />
                                    </span>
                                  </button>
                                <div class="text-center">
                                    <h3 class="dash"> I vostri prodotti preferiti a portata di click</h3>
                                    <h4>Ordinate i nostri prodotti online</h4>
                                    <p>Professionisti, trovate più di 2000 prodotti dedicati alla vostra attività su <a
                                            href="https://www.valrhona-selection.it" target="_blank">valrhona-selection.it</a> <br>
                                        Consumatori, scoprite la nostra gamma di cioccolati e gli ingredienti per la pasticceria a casa su <a
                                            href="https://www.valrhona-collection.it" target="_blank">valrhona-collection.it</a></p>
                                    <div class="grid-x grid-margin-x">
                                        <div class="small-12 large-6 cell">
                                            <a data-close class="button" href="https://www.valrhona-selection.it/?utm_campaign=passerelle_ecosystem_valrhona&utm_content=cioccolato+valrhona&utm_medium=lien&utm_source=site-valrhona.com&utm_term=ordine+online" target="_blank">
                                                <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-width="0" d="M13.415972,3.46895558 C13.4218175,2.84998325 12.9266172,2.34252566 12.307696,2.33324741 L11.2291685,2.33324741 C11.1903922,2.33340252 11.1531508,2.31810704 11.1256769,2.29074217 C11.0982029,2.26337729 11.0827591,2.2261967 11.0827594,2.18741944 L11.0827594,1.74993555 C11.0827594,0.783472835 10.2992983,0 9.33285006,0 L7.58294067,0 C6.61649241,0 5.83303129,0.783472835 5.83303129,1.74993555 L5.83303129,2.18741944 C5.83303129,2.267958 5.76774286,2.33324741 5.68720551,2.33324741 L4.52059925,2.33324741 C4.44006189,2.33324741 4.37477347,2.267958 4.37477347,2.18741944 L4.37477347,1.74993555 C4.37477347,1.42778131 4.63592717,1.1666237 4.95807659,1.1666237 C5.28022602,1.1666237 5.54137972,0.905466092 5.54137972,0.583311852 C5.54137972,0.261157612 5.28022602,0 4.95807659,0 C3.99162833,0 3.20816721,0.783472835 3.20816721,1.74993555 L3.20816721,2.18741944 C3.20816721,2.267958 3.14287878,2.33324741 3.06234143,2.33324741 L2.04156095,2.33324741 C1.41330902,2.3109653 0.880381294,2.79050425 0.836456687,3.41762414 L0,12.8637763 C0.0212520184,13.5106404 0.56167919,14.0184722 1.20860408,13.9994844 L12.8909991,13.9994844 C13.1942101,13.9932722 13.4822531,13.8656717 13.6905852,13.6452751 C13.8989172,13.4248784 14.0101197,13.1301128 13.9992751,12.8270276 L13.415972,3.46895558 Z M6.99963754,1.74993555 C6.99963754,1.42778131 7.26079125,1.1666237 7.58294067,1.1666237 L9.33285006,1.1666237 C9.65499948,1.1666237 9.91615319,1.42778131 9.91615319,1.74993555 L9.91615319,2.18741944 C9.91615319,2.267958 9.85086476,2.33324741 9.77032741,2.33324741 L7.14546333,2.33324741 C7.06492597,2.33324741 6.99963754,2.267958 6.99963754,2.18741944 L6.99963754,1.74993555 Z M1.49267271,12.8182779 C1.41032891,12.8186426 1.33166809,12.7841807 1.27611141,12.7234008 C1.22055472,12.6626209 1.19327994,12.5811875 1.20102114,12.4992064 L2.01764552,3.76469469 C2.03151044,3.61462595 2.15742484,3.49987074 2.30813048,3.49987074 L3.83930119,3.49987074 C3.99420741,3.49962803 4.12227819,3.62052866 4.13095276,3.7751943 L4.61684426,12.5213722 C4.62133924,12.6015131 4.5926078,12.6799641 4.53741778,12.7382456 C4.48222775,12.7965271 4.40545826,12.8294868 4.3251927,12.8293612 L1.49267271,12.8182779 Z"></path>
                                                </svg>
                                                <span>E-SHOP PROFESSIONISTI</span>
                                            </a>
                                        </div>
                                        <div class="small-12 large-6 cell">
                                            <a data-close class="button" href=" https://www.valrhona-collection.it/it/?utm_campaign=passerelle_ecosystem_valrhona&utm_content=Chocolats+Valrhona+%7C+la+Gamme+Particuliers&utm_medium=lien&utm_source=site-valrhona.com&utm_term=ACQUISTARE+ONLINE" target="_blank">
                                                <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-width="0" d="M13.415972,3.46895558 C13.4218175,2.84998325 12.9266172,2.34252566 12.307696,2.33324741 L11.2291685,2.33324741 C11.1903922,2.33340252 11.1531508,2.31810704 11.1256769,2.29074217 C11.0982029,2.26337729 11.0827591,2.2261967 11.0827594,2.18741944 L11.0827594,1.74993555 C11.0827594,0.783472835 10.2992983,0 9.33285006,0 L7.58294067,0 C6.61649241,0 5.83303129,0.783472835 5.83303129,1.74993555 L5.83303129,2.18741944 C5.83303129,2.267958 5.76774286,2.33324741 5.68720551,2.33324741 L4.52059925,2.33324741 C4.44006189,2.33324741 4.37477347,2.267958 4.37477347,2.18741944 L4.37477347,1.74993555 C4.37477347,1.42778131 4.63592717,1.1666237 4.95807659,1.1666237 C5.28022602,1.1666237 5.54137972,0.905466092 5.54137972,0.583311852 C5.54137972,0.261157612 5.28022602,0 4.95807659,0 C3.99162833,0 3.20816721,0.783472835 3.20816721,1.74993555 L3.20816721,2.18741944 C3.20816721,2.267958 3.14287878,2.33324741 3.06234143,2.33324741 L2.04156095,2.33324741 C1.41330902,2.3109653 0.880381294,2.79050425 0.836456687,3.41762414 L0,12.8637763 C0.0212520184,13.5106404 0.56167919,14.0184722 1.20860408,13.9994844 L12.8909991,13.9994844 C13.1942101,13.9932722 13.4822531,13.8656717 13.6905852,13.6452751 C13.8989172,13.4248784 14.0101197,13.1301128 13.9992751,12.8270276 L13.415972,3.46895558 Z M6.99963754,1.74993555 C6.99963754,1.42778131 7.26079125,1.1666237 7.58294067,1.1666237 L9.33285006,1.1666237 C9.65499948,1.1666237 9.91615319,1.42778131 9.91615319,1.74993555 L9.91615319,2.18741944 C9.91615319,2.267958 9.85086476,2.33324741 9.77032741,2.33324741 L7.14546333,2.33324741 C7.06492597,2.33324741 6.99963754,2.267958 6.99963754,2.18741944 L6.99963754,1.74993555 Z M1.49267271,12.8182779 C1.41032891,12.8186426 1.33166809,12.7841807 1.27611141,12.7234008 C1.22055472,12.6626209 1.19327994,12.5811875 1.20102114,12.4992064 L2.01764552,3.76469469 C2.03151044,3.61462595 2.15742484,3.49987074 2.30813048,3.49987074 L3.83930119,3.49987074 C3.99420741,3.49962803 4.12227819,3.62052866 4.13095276,3.7751943 L4.61684426,12.5213722 C4.62133924,12.6015131 4.5926078,12.6799641 4.53741778,12.7382456 C4.48222775,12.7965271 4.40545826,12.8294868 4.3251927,12.8293612 L1.49267271,12.8182779 Z"></path>
                                                </svg>
                                                <span>E-SHOP CONSUMATORI</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif options['target_language'] == 'es' %}
                            <a href="https://www.valrhona-collection.es/es/" target="_blank" data-tooltip tabindex="1" title="Valrhona Collection" data-position="bottom" data-alignment="center">
                                <svg width="14px" height="14px" viewBox="0 0 14 14">
                                    <path stroke-width="0" d="M13.415972,3.46895558 C13.4218175,2.84998325 12.9266172,2.34252566 12.307696,2.33324741 L11.2291685,2.33324741 C11.1903922,2.33340252 11.1531508,2.31810704 11.1256769,2.29074217 C11.0982029,2.26337729 11.0827591,2.2261967 11.0827594,2.18741944 L11.0827594,1.74993555 C11.0827594,0.783472835 10.2992983,0 9.33285006,0 L7.58294067,0 C6.61649241,0 5.83303129,0.783472835 5.83303129,1.74993555 L5.83303129,2.18741944 C5.83303129,2.267958 5.76774286,2.33324741 5.68720551,2.33324741 L4.52059925,2.33324741 C4.44006189,2.33324741 4.37477347,2.267958 4.37477347,2.18741944 L4.37477347,1.74993555 C4.37477347,1.42778131 4.63592717,1.1666237 4.95807659,1.1666237 C5.28022602,1.1666237 5.54137972,0.905466092 5.54137972,0.583311852 C5.54137972,0.261157612 5.28022602,0 4.95807659,0 C3.99162833,0 3.20816721,0.783472835 3.20816721,1.74993555 L3.20816721,2.18741944 C3.20816721,2.267958 3.14287878,2.33324741 3.06234143,2.33324741 L2.04156095,2.33324741 C1.41330902,2.3109653 0.880381294,2.79050425 0.836456687,3.41762414 L0,12.8637763 C0.0212520184,13.5106404 0.56167919,14.0184722 1.20860408,13.9994844 L12.8909991,13.9994844 C13.1942101,13.9932722 13.4822531,13.8656717 13.6905852,13.6452751 C13.8989172,13.4248784 14.0101197,13.1301128 13.9992751,12.8270276 L13.415972,3.46895558 Z M6.99963754,1.74993555 C6.99963754,1.42778131 7.26079125,1.1666237 7.58294067,1.1666237 L9.33285006,1.1666237 C9.65499948,1.1666237 9.91615319,1.42778131 9.91615319,1.74993555 L9.91615319,2.18741944 C9.91615319,2.267958 9.85086476,2.33324741 9.77032741,2.33324741 L7.14546333,2.33324741 C7.06492597,2.33324741 6.99963754,2.267958 6.99963754,2.18741944 L6.99963754,1.74993555 Z M1.49267271,12.8182779 C1.41032891,12.8186426 1.33166809,12.7841807 1.27611141,12.7234008 C1.22055472,12.6626209 1.19327994,12.5811875 1.20102114,12.4992064 L2.01764552,3.76469469 C2.03151044,3.61462595 2.15742484,3.49987074 2.30813048,3.49987074 L3.83930119,3.49987074 C3.99420741,3.49962803 4.12227819,3.62052866 4.13095276,3.7751943 L4.61684426,12.5213722 C4.62133924,12.6015131 4.5926078,12.6799641 4.53741778,12.7382456 C4.48222775,12.7965271 4.40545826,12.8294868 4.3251927,12.8293612 L1.49267271,12.8182779 Z"></path>
                                </svg>
                            </a>
                        {% elseif options['target_language'] == 'de' %}
                            <a href="https://www.valrhona-collection.de/de/" target="_blank" data-tooltip tabindex="1" title="Valrhona Collection" data-position="bottom" data-alignment="center">
                                <svg width="14px" height="14px" viewBox="0 0 14 14">
                                    <path stroke-width="0" d="M13.415972,3.46895558 C13.4218175,2.84998325 12.9266172,2.34252566 12.307696,2.33324741 L11.2291685,2.33324741 C11.1903922,2.33340252 11.1531508,2.31810704 11.1256769,2.29074217 C11.0982029,2.26337729 11.0827591,2.2261967 11.0827594,2.18741944 L11.0827594,1.74993555 C11.0827594,0.783472835 10.2992983,0 9.33285006,0 L7.58294067,0 C6.61649241,0 5.83303129,0.783472835 5.83303129,1.74993555 L5.83303129,2.18741944 C5.83303129,2.267958 5.76774286,2.33324741 5.68720551,2.33324741 L4.52059925,2.33324741 C4.44006189,2.33324741 4.37477347,2.267958 4.37477347,2.18741944 L4.37477347,1.74993555 C4.37477347,1.42778131 4.63592717,1.1666237 4.95807659,1.1666237 C5.28022602,1.1666237 5.54137972,0.905466092 5.54137972,0.583311852 C5.54137972,0.261157612 5.28022602,0 4.95807659,0 C3.99162833,0 3.20816721,0.783472835 3.20816721,1.74993555 L3.20816721,2.18741944 C3.20816721,2.267958 3.14287878,2.33324741 3.06234143,2.33324741 L2.04156095,2.33324741 C1.41330902,2.3109653 0.880381294,2.79050425 0.836456687,3.41762414 L0,12.8637763 C0.0212520184,13.5106404 0.56167919,14.0184722 1.20860408,13.9994844 L12.8909991,13.9994844 C13.1942101,13.9932722 13.4822531,13.8656717 13.6905852,13.6452751 C13.8989172,13.4248784 14.0101197,13.1301128 13.9992751,12.8270276 L13.415972,3.46895558 Z M6.99963754,1.74993555 C6.99963754,1.42778131 7.26079125,1.1666237 7.58294067,1.1666237 L9.33285006,1.1666237 C9.65499948,1.1666237 9.91615319,1.42778131 9.91615319,1.74993555 L9.91615319,2.18741944 C9.91615319,2.267958 9.85086476,2.33324741 9.77032741,2.33324741 L7.14546333,2.33324741 C7.06492597,2.33324741 6.99963754,2.267958 6.99963754,2.18741944 L6.99963754,1.74993555 Z M1.49267271,12.8182779 C1.41032891,12.8186426 1.33166809,12.7841807 1.27611141,12.7234008 C1.22055472,12.6626209 1.19327994,12.5811875 1.20102114,12.4992064 L2.01764552,3.76469469 C2.03151044,3.61462595 2.15742484,3.49987074 2.30813048,3.49987074 L3.83930119,3.49987074 C3.99420741,3.49962803 4.12227819,3.62052866 4.13095276,3.7751943 L4.61684426,12.5213722 C4.62133924,12.6015131 4.5926078,12.6799641 4.53741778,12.7382456 C4.48222775,12.7965271 4.40545826,12.8294868 4.3251927,12.8293612 L1.49267271,12.8182779 Z"></path>
                                </svg>
                            </a>
                        {% endif %}
                    </span>
                {% endif %}

                <div id="header-link2" class="header-login">
                    {% if app is defined and app.environment != 'test' and options['user_menu_disabled'] == false %}
                        {% if app.user %}
                            <a href="javascript:;" tabindex="1" data-position="bottom" data-alignment="center">
                                <svg width="14px" height="14px" viewBox="0 0 14 14">
                                    <path d="M3.5,3.5 C3.5,1.56700338 5.06700338,0 7,0 C8.93299662,0 10.5,1.56700338 10.5,3.5 C10.5,5.43299662 8.93299662,7 7,7 C5.06700338,7 3.5,5.43299662 3.5,3.5 L3.5,3.5 Z M13.9250951,13.09375 L12.6016947,10.725 C12.0081162,9.66768464 10.7966998,9 9.47174778,9 L4.52825222,9 C3.20330019,9 1.99188381,9.66768464 1.39830531,10.725 L0.0749049346,13.09375 C-0.0343065769,13.2871989 -0.0235065199,13.5173299 0.103447721,13.7019486 C0.230401962,13.8865674 0.455404802,13.9993444 0.698093469,14 L13.3019065,14 C13.5445952,13.9993444 13.769598,13.8865674 13.8965523,13.7019486 C14.0235065,13.5173299 14.0343066,13.2871989 13.9250951,13.09375 Z"></path>
                                </svg>
                            </a>
                            <div class="header-login--dropdown">
                                <ul class="header-login--dropdown--container">
                                    {% for item in header.userMenu.items %}
                                        <li class="header-login--items">
                                            <a href="{{ item.url }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                    <li class="header-login--items">
                                        <a href="{{ header.userMenu.logoutUrl }}" class="header-login--items--logout">{{ header.userMenu.logoutLabel }}</a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a href="{{ header.userMenu.loginUrl }}"
                                {% if header.userMenu.loginLabel %} title="{{ header.userMenu.loginLabel }}" {% endif %}
                               tabindex="1" data-position="bottom" data-alignment="center"
                                {% if header.userMenu.loginLabel %} data-tooltip {% endif %}
                            >
                                <svg width="14px" height="14px" viewBox="0 0 14 14">
                                    <path d="M3.5,3.5 C3.5,1.56700338 5.06700338,0 7,0 C8.93299662,0 10.5,1.56700338 10.5,3.5 C10.5,5.43299662 8.93299662,7 7,7 C5.06700338,7 3.5,5.43299662 3.5,3.5 L3.5,3.5 Z M13.9250951,13.09375 L12.6016947,10.725 C12.0081162,9.66768464 10.7966998,9 9.47174778,9 L4.52825222,9 C3.20330019,9 1.99188381,9.66768464 1.39830531,10.725 L0.0749049346,13.09375 C-0.0343065769,13.2871989 -0.0235065199,13.5173299 0.103447721,13.7019486 C0.230401962,13.8865674 0.455404802,13.9993444 0.698093469,14 L13.3019065,14 C13.5445952,13.9993444 13.769598,13.8865674 13.8965523,13.7019486 C14.0235065,13.5173299 14.0343066,13.2871989 13.9250951,13.09375 Z"></path>
                                </svg>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>

            </div>


            {% if header.mainMenu is not empty %}

            <nav class="newMenu24__nav" role="navigation">
                <span id="back-menu"></span>
                <ul id="main-menu" class="menu vertical large-horizontal align-center" data-toggler=".open">
                    {% for firstLevelMenuItem in header.mainMenu %}
                        <li {% if firstLevelMenuItem.children or firstLevelMenuItem.push %}class="has-sub-menu"{% endif %}>
                            {% if firstLevelMenuItem.link %}<a {% else %}<button{% endif %}
                                {% if firstLevelMenuItem.link %}
                                    href="{{ firstLevelMenuItem.link.url }}"
                                    {% if firstLevelMenuItem.link.target %}
                                        target="{{ firstLevelMenuItem.link.target }}"
                                    {% endif %}
                                {% endif %}
                                class="{{ firstLevelMenuItem.type }}"
                            >
                                {% if firstLevelMenuItem.iconUrl %}
                                    <img src="{{ firstLevelMenuItem.iconUrl }}" alt="{{ firstLevelMenuItem.label }}" />
                                {% else %}
                                    {{ firstLevelMenuItem.label }}
                                {% endif %}
                                {% if firstLevelMenuItem.link %}</a>{% else %}</button>{% endif %}
                            {% if firstLevelMenuItem.children or firstLevelMenuItem.push %}
                                <div class="grid-x sub-menu-wrapper">
                                    <div class="small-12 large-7 xlarge-6 xlarge-offset-1 cell">
                                        {% if firstLevelMenuItem.children is not empty %}
                                        <ul class="grid-x small-up-1 large-up-2 align-top">
                                            {% for secondLevelMenuItem in firstLevelMenuItem.children %}
                                                <li class="cell">
                                                    {% if secondLevelMenuItem.label %}
                                                        <a
                                                            {% if secondLevelMenuItem.link %}{# @Roxane: Cas qui n'existe pas dans la créa, mais ne sait on jamais #}
                                                                href="{{ secondLevelMenuItem.link.url }}"
                                                                {% if secondLevelMenuItem.link.target %}
                                                                    target="{{ secondLevelMenuItem.link.target }}"
                                                                {% endif %}
                                                            {% endif %}
                                                            class="sub-category {{ firstLevelMenuItem.type }}"
                                                        >
                                                            {{ secondLevelMenuItem.label }}
                                                        </a>
                                                    {% endif %}
                                                    {% if secondLevelMenuItem.children is not empty %}
                                                        <ul class="sub-menu vertical align-left">
                                                            {% for thirdLevelMenuItem in secondLevelMenuItem.children %}
                                                                <li><a
                                                                        href="{{ thirdLevelMenuItem.link.url }}"
                                                                        {% if thirdLevelMenuItem.link.target %}
                                                                            target="{{ thirdLevelMenuItem.link.target }}"
                                                                        {% endif %}
                                                                    >{{ thirdLevelMenuItem.label }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    {% if firstLevelMenuItem.push %}
                                        <div class="small-12 large-5 xlarge-4 cell">
                                            <a
                                                class="push bloc_img darkened"
                                                {% if firstLevelMenuItem.push.link %}
                                                    href="{{ firstLevelMenuItem.push.link.url }}"
                                                    {% if firstLevelMenuItem.push.link.target %}
                                                        target="{{ firstLevelMenuItem.push.link.target }}"
                                                    {% endif %}
                                                {% endif %}
                                                data-cursor={{ header.additionalWordings.generalEmbedCursorSee }}>
                                                <img src="{{ firstLevelMenuItem.push.image.url }}" alt="{{ firstLevelMenuItem.push.image.alt }}">
                                                <span class="sub-category">
                                                {{ firstLevelMenuItem.push.label }}
                                            </span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </nav>

        </div>
    </div>
</header>
